<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.springsophsoft">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.AddCash.Addingcard_popView"
            android:theme="@style/AppTheme.Tran" />
        <activity android:name=".ui.signUpAndLogIn.ReSetPassword" />
        <activity android:name=".ui.signUpAndLogIn.ForgetPassword" />
        <activity
            android:name=".ui.AddCash.Trans_money_pop_view2"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ui.AddCash.Trans_money_pop_view"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".ui.Setting.ChangePassword" />
        <activity android:name=".ui.AddCash.TransMoney_card" />
        <activity android:name=".ui.Setting.Profile" />
        <activity android:name=".ui.AddCash.AddingCardNumber" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.signUpAndLogIn.SignUp" />
        <activity android:name=".ui.signUpAndLogIn.LogIn" />
        <activity android:name=".ui.Search.SendMoney" />
        <activity android:name=".ui.Search.Request" />
        <activity android:name=".Accept_Decline" />
        <activity android:name=".ui.Tranhistory.SearchTransaction" />
        <activity android:name=".ui.Tranhistory.personTransaction" />
        <activity android:name=".ui.Notification.historyMessage" />
        <activity
            android:name=".ui.Search.Send_Request"
            android:theme="@style/AppTheme.Tran" />
        <activity android:name=".ui.Tranhistory.Recieved" />
        <activity android:name=".ui.Tranhistory.Sent" />
        <activity android:name=".ui.signUpAndLogIn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>